#container {
    position: relative;
  }
  #container canvas, #initialD {
    position: absolute;

  }
  
  canvas {
    border: 0;
    z-index: -1;
  }
  #potentialGraph{
     position: absolute;
     margin-top: 10px;
     margin-left: 900px;
     opacity:100%;
     z-index: 1;

 }

  body{
      border:0px;
      margin:0%;
  }
  #initialD{
     height: 50px;
     width: 100px;
     z-index: 2;
     background-color: #03071e;
     color:white;
     border:0;
     margin-left: 180px;
     margin-top:50px;
  }
  #initialDText{
    width:130px;
    margin-left: 30px;
    margin-top:62px;
  }

  .settingsText{
    position: absolute;
    z-index:2;
    color:white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
  }

  #settingsTitle{
    margin-left: 100px;
    font-size: 25px;
    
  }
  #settings{
    position: absolute;
    width:100px;
    height:100px;
    border:black;
  }

  #startButton{
    margin-top: 150px;
    margin-left: 90px;
  }
  #resetButton{
    margin-top: 175px;
    margin-left: 90px;
  }
  .settingsButton{
    font-family: 'Rajdhani', sans-serif;
    color:white;
    background-color:#03071e;
    border: 2px solid #d4ebd5;
    position: absolute;
    width:100px;
    height:20px;
    border-radius: 3px;
  }